.admission-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6fb;
}

.admission-card {
  background: white;
  padding: 25px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.admission-card h2 {
  text-align: center;
  margin-bottom: 15px;
}

.admission-card input,
.admission-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.admission-card button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.admission-card button:hover {
  background: #4338ca;
}

.course-preview {
  text-align: center;
  margin-bottom: 10px;
}

.course-preview img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
