.courses-page {
  padding: 50px 8%;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.course-card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  transition: transform .2s;
}

.course-card:hover {
  transform: translateY(-6px);
}

.course-card h3 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.course-card button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.admission-btn {
  background: #0fbf61;
  color: white;
}
