.course-content-page {
  padding: 50px 8%;
}

.content-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

.content-card video {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.content-card img {
  max-width: 300px;
  border-radius: 10px;
}

.locked {
  filter: blur(1px);
}

.lock-msg {
  color: red;
  font-weight: bold;
}
